<form action="" class="form_register">
	<h2 class="form_titulo">Nuevo Comic</h2>
	<div class="content_inputs">
		<input type="number" id="cantidad" name="cantidad"required="required" placeholder="Cantidad" class="input_half" />
		<input type="text" id="title" name="title"required="required" placeholder="Titulo" class="input_complete" />
		<textarea rows="10" cols="300"></textarea>
		<input type="submit" value="Submit"/>
		<p>¿Estas registrado? <a href="#login">Ingresa aqui</a></p>
	</div>
</form>