<nav id="drawer" class="nav">
      <ul class="nav_list">
        <li class="nav_item"><a href="#home">Home</a></li>
        <li class="nav_item"><a href="#list">Comics</a></li>
        <li class="nav_item"><a href="">Nuevo</a></li>
        <li class="nav_item"><a href="#">Log out</a></li>
      </ul>
</nav>
<div ng-show="currcomic">
    <h3>{{currcomic.name}}</h3>
    <div>
        <div>
            <img data-ng-src="{{currcomic.thumb}}">
        </div>
        <div>
            <h4>Resumen</h4>
            <label>{{currcomic.review}}</label>
        </div>
    </div>
</div>